.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
.swiftpm/playgrounds/CachedManifest.plist
Package.resolved
.swiftpm/playgrounds/CachedManifest.plist
.swiftpm/playgrounds/CachedManifest.plist
