<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOlt7InNvdXJjZUNvbnRyb2wiOlt7ImlkZW50aXR5
		IjoiZWZmZWN0cy1saWJyYXJ5IiwibG9jYXRpb24iOnsicmVtb3RlIjpbeyJ1
		cmxTdHJpbmciOiJodHRwczpcL1wvZ2l0aHViLmNvbVwva3VkaXRcL2VmZmVj
		dHMtbGlicmFyeSJ9XX0sInByb2R1Y3RGaWx0ZXIiOm51bGwsInJlcXVpcmVt
		ZW50Ijp7InJhbmdlIjpbeyJsb3dlckJvdW5kIjoiMS4wLjAiLCJ1cHBlckJv
		dW5kIjoiMi4wLjAifV19fV19LHsic291cmNlQ29udHJvbCI6W3siaWRlbnRp
		dHkiOiJpbmsiLCJsb2NhdGlvbiI6eyJyZW1vdGUiOlt7InVybFN0cmluZyI6
		Imh0dHBzOlwvXC9naXRodWIuY29tXC9qb2huc3VuZGVsbFwvaW5rLmdpdCJ9
		XX0sInByb2R1Y3RGaWx0ZXIiOm51bGwsInJlcXVpcmVtZW50Ijp7InJhbmdl
		IjpbeyJsb3dlckJvdW5kIjoiMC42LjAiLCJ1cHBlckJvdW5kIjoiMS4wLjAi
		fV19fV19XSwiZGlzcGxheU5hbWUiOiJLdWRpdEZyYW1ld29ya3MiLCJwYWNr
		YWdlS2luZCI6eyJyb290Ijp7fX0sInBsYXRmb3JtcyI6W3sib3B0aW9ucyI6
		W10sInBsYXRmb3JtTmFtZSI6ImlvcyIsInZlcnNpb24iOiIxNS4yIn0seyJv
		cHRpb25zIjpbXSwicGxhdGZvcm1OYW1lIjoibWFjb3MiLCJ2ZXJzaW9uIjoi
		MTQuMyJ9LHsib3B0aW9ucyI6W10sInBsYXRmb3JtTmFtZSI6InR2b3MiLCJ2
		ZXJzaW9uIjoiMTUuMCJ9LHsib3B0aW9ucyI6W10sInBsYXRmb3JtTmFtZSI6
		IndhdGNob3MiLCJ2ZXJzaW9uIjoiOC4wIn0seyJvcHRpb25zIjpbXSwicGxh
		dGZvcm1OYW1lIjoidmlzaW9ub3MiLCJ2ZXJzaW9uIjoiMS4wIn1dLCJwcm9k
		dWN0cyI6W3sibmFtZSI6Ikt1ZGl0RnJhbWV3b3JrcyIsInNldHRpbmdzIjpb
		XSwidGFyZ2V0cyI6WyJLdWRpdEZyYW1ld29ya3MiXSwidHlwZSI6eyJsaWJy
		YXJ5IjpbImF1dG9tYXRpYyJdfX0seyJuYW1lIjoiS3VkaXRGcmFtZXdvcmtz
		VGVzdEFwcCIsInNldHRpbmdzIjpbeyJ0ZWFtSWRlbnRpZmllciI6WyIzUVBW
		ODk0QzMzIl19LHsiZGlzcGxheVZlcnNpb24iOlsiNC4yLjIiXX0seyJidW5k
		bGVWZXJzaW9uIjpbIjEiXX0seyJpT1NBcHBJbmZvIjpbeyJhY2NlbnRDb2xv
		ciI6eyJwcmVzZXRDb2xvciI6eyJwcmVzZXRDb2xvciI6eyJyYXdWYWx1ZSI6
		InJlZCJ9fX0sImFwcENhdGVnb3J5Ijp7InJhd1ZhbHVlIjoicHVibGljLmFw
		cC1jYXRlZ29yeS5kZXZlbG9wZXItdG9vbHMifSwiYXBwSWNvbiI6eyJhc3Nl
		dCI6eyJuYW1lIjoiQXBwSWNvbiJ9fSwiY2FwYWJpbGl0aWVzIjpbeyJwdXJw
		b3NlIjoib3V0Z29pbmdOZXR3b3JrQ29ubmVjdGlvbnMifV0sInN1cHBvcnRl
		ZERldmljZUZhbWlsaWVzIjpbInBhZCIsInBob25lIl0sInN1cHBvcnRlZElu
		dGVyZmFjZU9yaWVudGF0aW9ucyI6W3sicG9ydHJhaXQiOnt9fSx7ImxhbmRz
		Y2FwZVJpZ2h0Ijp7fX0seyJsYW5kc2NhcGVMZWZ0Ijp7fX0seyJwb3J0cmFp
		dFVwc2lkZURvd24iOnsiY29uZGl0aW9uIjp7ImRldmljZUZhbWlsaWVzIjpb
		InBhZCJdfX19XX1dfV0sInRhcmdldHMiOlsiS3VkaXRGcmFtZXdvcmtzQXBw
		TW9kdWxlIl0sInR5cGUiOnsiZXhlY3V0YWJsZSI6bnVsbH19XSwidGFyZ2V0
		TWFwIjp7Ikt1ZGl0RnJhbWV3b3JrcyI6eyJkZXBlbmRlbmNpZXMiOlt7InBy
		b2R1Y3QiOlsiRWZmZWN0c0xpYnJhcnkiLCJlZmZlY3RzLWxpYnJhcnkiLG51
		bGwsbnVsbF19LHsicHJvZHVjdCI6WyJEZXZpY2VLaXQiLCJkZXZpY2VraXQi
		LG51bGwsbnVsbF19LHsicHJvZHVjdCI6WyJJbmsiLCJpbmsiLG51bGwsbnVs
		bF19XSwiZXhjbHVkZSI6W10sIm5hbWUiOiJLdWRpdEZyYW1ld29ya3MiLCJw
		YWNrYWdlQWNjZXNzIjp0cnVlLCJwYXRoIjoiU291cmNlcyIsInJlc291cmNl
		cyI6W10sInNldHRpbmdzIjpbXSwidHlwZSI6InJlZ3VsYXIifSwiS3VkaXRG
		cmFtZXdvcmtzQXBwTW9kdWxlIjp7ImRlcGVuZGVuY2llcyI6W3siYnlOYW1l
		IjpbIkt1ZGl0RnJhbWV3b3JrcyIsbnVsbF19XSwiZXhjbHVkZSI6W10sIm5h
		bWUiOiJLdWRpdEZyYW1ld29ya3NBcHBNb2R1bGUiLCJwYWNrYWdlQWNjZXNz
		Ijp0cnVlLCJwYXRoIjoiRGV2ZWxvcG1lbnQiLCJyZXNvdXJjZXMiOltdLCJz
		ZXR0aW5ncyI6W3sia2luZCI6eyJlbmFibGVVcGNvbWluZ0ZlYXR1cmUiOnsi
		XzAiOiJCYXJlU2xhc2hSZWdleExpdGVyYWxzIn19LCJ0b29sIjoic3dpZnQi
		fV0sInR5cGUiOiJleGVjdXRhYmxlIn0sIkt1ZGl0RnJhbWV3b3JrVGVzdHMi
		OnsiZGVwZW5kZW5jaWVzIjpbeyJieU5hbWUiOlsiS3VkaXRGcmFtZXdvcmtz
		IixudWxsXX1dLCJleGNsdWRlIjpbXSwibmFtZSI6Ikt1ZGl0RnJhbWV3b3Jr
		VGVzdHMiLCJwYWNrYWdlQWNjZXNzIjp0cnVlLCJwYXRoIjoiVGVzdHMiLCJy
		ZXNvdXJjZXMiOltdLCJzZXR0aW5ncyI6W10sInR5cGUiOiJ0ZXN0In19LCJ0
		YXJnZXRzIjpbeyJkZXBlbmRlbmNpZXMiOlt7InByb2R1Y3QiOlsiRWZmZWN0
		c0xpYnJhcnkiLCJlZmZlY3RzLWxpYnJhcnkiLG51bGwsbnVsbF19LHsicHJv
		ZHVjdCI6WyJEZXZpY2VLaXQiLCJkZXZpY2VraXQiLG51bGwsbnVsbF19LHsi
		cHJvZHVjdCI6WyJJbmsiLCJpbmsiLG51bGwsbnVsbF19XSwiZXhjbHVkZSI6
		W10sIm5hbWUiOiJLdWRpdEZyYW1ld29ya3MiLCJwYWNrYWdlQWNjZXNzIjp0
		cnVlLCJwYXRoIjoiU291cmNlcyIsInJlc291cmNlcyI6W10sInNldHRpbmdz
		IjpbXSwidHlwZSI6InJlZ3VsYXIifSx7ImRlcGVuZGVuY2llcyI6W3siYnlO
		YW1lIjpbIkt1ZGl0RnJhbWV3b3JrcyIsbnVsbF19XSwiZXhjbHVkZSI6W10s
		Im5hbWUiOiJLdWRpdEZyYW1ld29ya3NBcHBNb2R1bGUiLCJwYWNrYWdlQWNj
		ZXNzIjp0cnVlLCJwYXRoIjoiRGV2ZWxvcG1lbnQiLCJyZXNvdXJjZXMiOltd
		LCJzZXR0aW5ncyI6W3sia2luZCI6eyJlbmFibGVVcGNvbWluZ0ZlYXR1cmUi
		OnsiXzAiOiJCYXJlU2xhc2hSZWdleExpdGVyYWxzIn19LCJ0b29sIjoic3dp
		ZnQifV0sInR5cGUiOiJleGVjdXRhYmxlIn0seyJkZXBlbmRlbmNpZXMiOlt7
		ImJ5TmFtZSI6WyJLdWRpdEZyYW1ld29ya3MiLG51bGxdfV0sImV4Y2x1ZGUi
		OltdLCJuYW1lIjoiS3VkaXRGcmFtZXdvcmtUZXN0cyIsInBhY2thZ2VBY2Nl
		c3MiOnRydWUsInBhdGgiOiJUZXN0cyIsInJlc291cmNlcyI6W10sInNldHRp
		bmdzIjpbXSwidHlwZSI6InRlc3QifV0sInRvb2xzVmVyc2lvbiI6eyJfdmVy
		c2lvbiI6IjUuOS4wIn19
		</data>
		<key>manifestHash</key>
		<data>
		RneA+eJxvIZ+d+Y3mH2ihR68UIrvft2h6njKKmpU0JE=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>5.9.0</string>
	</dict>
</dict>
</plist>
