<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOlt7InNvdXJjZUNvbnRyb2wiOlt7ImlkZW50aXR5
		IjoiZWZmZWN0cy1saWJyYXJ5IiwibG9jYXRpb24iOnsicmVtb3RlIjpbImh0
		dHBzOlwvXC9naXRodWIuY29tXC9HZXRTdHJlYW1cL2VmZmVjdHMtbGlicmFy
		eSJdfSwicHJvZHVjdEZpbHRlciI6bnVsbCwicmVxdWlyZW1lbnQiOnsicmFu
		Z2UiOlt7Imxvd2VyQm91bmQiOiIxLjAuMCIsInVwcGVyQm91bmQiOiIyLjAu
		MCJ9XX19XX0seyJzb3VyY2VDb250cm9sIjpbeyJpZGVudGl0eSI6ImRldmlj
		ZWtpdCIsImxvY2F0aW9uIjp7InJlbW90ZSI6WyJodHRwczpcL1wvZ2l0aHVi
		LmNvbVwvZGV2aWNla2l0XC9EZXZpY2VLaXQuZ2l0Il19LCJwcm9kdWN0Rmls
		dGVyIjpudWxsLCJyZXF1aXJlbWVudCI6eyJyYW5nZSI6W3sibG93ZXJCb3Vu
		ZCI6IjUuMS4wIiwidXBwZXJCb3VuZCI6IjYuMC4wIn1dfX1dfSx7InNvdXJj
		ZUNvbnRyb2wiOlt7ImlkZW50aXR5IjoiaW5rIiwibG9jYXRpb24iOnsicmVt
		b3RlIjpbImh0dHBzOlwvXC9naXRodWIuY29tXC9qb2huc3VuZGVsbFwvaW5r
		LmdpdCJdfSwicHJvZHVjdEZpbHRlciI6bnVsbCwicmVxdWlyZW1lbnQiOnsi
		cmFuZ2UiOlt7Imxvd2VyQm91bmQiOiIwLjYuMCIsInVwcGVyQm91bmQiOiIx
		LjAuMCJ9XX19XX1dLCJkaXNwbGF5TmFtZSI6Ikt1ZGl0RnJhbWV3b3Jrc0Fw
		cCIsInBhY2thZ2VLaW5kIjp7InJvb3QiOnt9fSwicGxhdGZvcm1zIjpbeyJv
		cHRpb25zIjpbXSwicGxhdGZvcm1OYW1lIjoiaW9zIiwidmVyc2lvbiI6IjE1
		LjIifV0sInByb2R1Y3RzIjpbeyJuYW1lIjoiS3VkaXRGcmFtZXdvcmtzQXBw
		Iiwic2V0dGluZ3MiOlt7InRlYW1JZGVudGlmaWVyIjpbIjNRUFY4OTRDMzMi
		XX0seyJkaXNwbGF5VmVyc2lvbiI6WyI0LjAuOSJdfSx7ImJ1bmRsZVZlcnNp
		b24iOlsiMSJdfSx7ImlPU0FwcEluZm8iOlt7ImFjY2VudENvbG9yIjp7InBy
		ZXNldENvbG9yIjp7InByZXNldENvbG9yIjp7InJhd1ZhbHVlIjoidGVhbCJ9
		fX0sImFwcENhdGVnb3J5Ijp7InJhd1ZhbHVlIjoicHVibGljLmFwcC1jYXRl
		Z29yeS5kZXZlbG9wZXItdG9vbHMifSwiYXBwSWNvbiI6eyJhc3NldCI6eyJu
		YW1lIjoiQXBwSWNvbiJ9fSwiY2FwYWJpbGl0aWVzIjpbeyJwdXJwb3NlIjoi
		b3V0Z29pbmdOZXR3b3JrQ29ubmVjdGlvbnMifV0sInN1cHBvcnRlZERldmlj
		ZUZhbWlsaWVzIjpbInBhZCIsInBob25lIl0sInN1cHBvcnRlZEludGVyZmFj
		ZU9yaWVudGF0aW9ucyI6W3sicG9ydHJhaXQiOnt9fSx7ImxhbmRzY2FwZVJp
		Z2h0Ijp7fX0seyJsYW5kc2NhcGVMZWZ0Ijp7fX0seyJwb3J0cmFpdFVwc2lk
		ZURvd24iOnsiY29uZGl0aW9uIjp7ImRldmljZUZhbWlsaWVzIjpbInBhZCJd
		fX19XX1dfV0sInRhcmdldHMiOlsiQXBwTW9kdWxlIl0sInR5cGUiOnsiZXhl
		Y3V0YWJsZSI6bnVsbH19XSwidGFyZ2V0TWFwIjp7IkFwcE1vZHVsZSI6eyJk
		ZXBlbmRlbmNpZXMiOlt7InByb2R1Y3QiOlsiRWZmZWN0c0xpYnJhcnkiLCJl
		ZmZlY3RzLWxpYnJhcnkiLG51bGwsbnVsbF19LHsicHJvZHVjdCI6WyJEZXZp
		Y2VLaXQiLCJEZXZpY2VLaXQiLG51bGwsbnVsbF19LHsicHJvZHVjdCI6WyJJ
		bmsiLCJpbmsiLG51bGwsbnVsbF19XSwiZXhjbHVkZSI6W10sIm5hbWUiOiJB
		cHBNb2R1bGUiLCJwYXRoIjoiLiIsInJlc291cmNlcyI6W3sicGF0aCI6IlJl
		c291cmNlcyIsInJ1bGUiOnsicHJvY2VzcyI6e319fV0sInNldHRpbmdzIjpb
		XSwidHlwZSI6ImV4ZWN1dGFibGUifX0sInRhcmdldHMiOlt7ImRlcGVuZGVu
		Y2llcyI6W3sicHJvZHVjdCI6WyJFZmZlY3RzTGlicmFyeSIsImVmZmVjdHMt
		bGlicmFyeSIsbnVsbCxudWxsXX0seyJwcm9kdWN0IjpbIkRldmljZUtpdCIs
		IkRldmljZUtpdCIsbnVsbCxudWxsXX0seyJwcm9kdWN0IjpbIkluayIsImlu
		ayIsbnVsbCxudWxsXX1dLCJleGNsdWRlIjpbXSwibmFtZSI6IkFwcE1vZHVs
		ZSIsInBhdGgiOiIuIiwicmVzb3VyY2VzIjpbeyJwYXRoIjoiUmVzb3VyY2Vz
		IiwicnVsZSI6eyJwcm9jZXNzIjp7fX19XSwic2V0dGluZ3MiOltdLCJ0eXBl
		IjoiZXhlY3V0YWJsZSJ9XSwidG9vbHNWZXJzaW9uIjp7Il92ZXJzaW9uIjoi
		NS42LjAifX0=
		</data>
		<key>manifestHash</key>
		<data>
		K/WOZghdv89KPU+YqqxE5hJXKUgn8bSQhQAX/Y/k3W0=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>5.8.0</string>
	</dict>
</dict>
</plist>
