<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOlt7InNvdXJjZUNvbnRyb2wiOlt7ImlkZW50aXR5
		IjoiZWZmZWN0cy1saWJyYXJ5IiwibG9jYXRpb24iOnsicmVtb3RlIjpbeyJ1
		cmxTdHJpbmciOiJodHRwczpcL1wvZ2l0aHViLmNvbVwvR2V0U3RyZWFtXC9l
		ZmZlY3RzLWxpYnJhcnkifV19LCJwcm9kdWN0RmlsdGVyIjpudWxsLCJyZXF1
		aXJlbWVudCI6eyJyYW5nZSI6W3sibG93ZXJCb3VuZCI6IjEuMC4wIiwidXBw
		ZXJCb3VuZCI6IjIuMC4wIn1dfX1dfSx7InNvdXJjZUNvbnRyb2wiOlt7Imlk
		ZW50aXR5IjoiZGV2aWNla2l0IiwibG9jYXRpb24iOnsicmVtb3RlIjpbeyJ1
		cmxTdHJpbmciOiJodHRwczpcL1wvZ2l0aHViLmNvbVwvZGV2aWNla2l0XC9E
		ZXZpY2VLaXQuZ2l0In1dfSwicHJvZHVjdEZpbHRlciI6bnVsbCwicmVxdWly
		ZW1lbnQiOnsicmFuZ2UiOlt7Imxvd2VyQm91bmQiOiI1LjEuMCIsInVwcGVy
		Qm91bmQiOiI2LjAuMCJ9XX19XX0seyJzb3VyY2VDb250cm9sIjpbeyJpZGVu
		dGl0eSI6ImluayIsImxvY2F0aW9uIjp7InJlbW90ZSI6W3sidXJsU3RyaW5n
		IjoiaHR0cHM6XC9cL2dpdGh1Yi5jb21cL2pvaG5zdW5kZWxsXC9pbmsuZ2l0
		In1dfSwicHJvZHVjdEZpbHRlciI6bnVsbCwicmVxdWlyZW1lbnQiOnsicmFu
		Z2UiOlt7Imxvd2VyQm91bmQiOiIwLjYuMCIsInVwcGVyQm91bmQiOiIxLjAu
		MCJ9XX19XX1dLCJkaXNwbGF5TmFtZSI6Ikt1ZGl0RnJhbWV3b3Jrc0FwcCIs
		InBhY2thZ2VLaW5kIjp7InJvb3QiOnt9fSwicGxhdGZvcm1zIjpbeyJvcHRp
		b25zIjpbXSwicGxhdGZvcm1OYW1lIjoiaW9zIiwidmVyc2lvbiI6IjE1LjIi
		fV0sInByb2R1Y3RzIjpbeyJuYW1lIjoiS3VkaXRGcmFtZXdvcmtzQXBwIiwi
		c2V0dGluZ3MiOlt7InRlYW1JZGVudGlmaWVyIjpbIjNRUFY4OTRDMzMiXX0s
		eyJkaXNwbGF5VmVyc2lvbiI6WyI0LjAuMTkiXX0seyJidW5kbGVWZXJzaW9u
		IjpbIjEiXX0seyJpT1NBcHBJbmZvIjpbeyJhY2NlbnRDb2xvciI6eyJwcmVz
		ZXRDb2xvciI6eyJwcmVzZXRDb2xvciI6eyJyYXdWYWx1ZSI6InRlYWwifX19
		LCJhcHBDYXRlZ29yeSI6eyJyYXdWYWx1ZSI6InB1YmxpYy5hcHAtY2F0ZWdv
		cnkuZGV2ZWxvcGVyLXRvb2xzIn0sImFwcEljb24iOnsiYXNzZXQiOnsibmFt
		ZSI6IkFwcEljb24ifX0sImNhcGFiaWxpdGllcyI6W3sicHVycG9zZSI6Im91
		dGdvaW5nTmV0d29ya0Nvbm5lY3Rpb25zIn1dLCJzdXBwb3J0ZWREZXZpY2VG
		YW1pbGllcyI6WyJwYWQiLCJwaG9uZSJdLCJzdXBwb3J0ZWRJbnRlcmZhY2VP
		cmllbnRhdGlvbnMiOlt7InBvcnRyYWl0Ijp7fX0seyJsYW5kc2NhcGVSaWdo
		dCI6e319LHsibGFuZHNjYXBlTGVmdCI6e319LHsicG9ydHJhaXRVcHNpZGVE
		b3duIjp7ImNvbmRpdGlvbiI6eyJkZXZpY2VGYW1pbGllcyI6WyJwYWQiXX19
		fV19XX1dLCJ0YXJnZXRzIjpbIkFwcE1vZHVsZSJdLCJ0eXBlIjp7ImV4ZWN1
		dGFibGUiOm51bGx9fV0sInRhcmdldE1hcCI6eyJBcHBNb2R1bGUiOnsiZGVw
		ZW5kZW5jaWVzIjpbeyJwcm9kdWN0IjpbIkVmZmVjdHNMaWJyYXJ5IiwiZWZm
		ZWN0cy1saWJyYXJ5IixudWxsLG51bGxdfSx7InByb2R1Y3QiOlsiRGV2aWNl
		S2l0IiwiZGV2aWNla2l0IixudWxsLG51bGxdfSx7InByb2R1Y3QiOlsiSW5r
		IiwiaW5rIixudWxsLG51bGxdfV0sImV4Y2x1ZGUiOltdLCJuYW1lIjoiQXBw
		TW9kdWxlIiwicGFja2FnZUFjY2VzcyI6ZmFsc2UsInBhdGgiOiIuIiwicmVz
		b3VyY2VzIjpbeyJwYXRoIjoiUmVzb3VyY2VzIiwicnVsZSI6eyJwcm9jZXNz
		Ijp7fX19XSwic2V0dGluZ3MiOltdLCJ0eXBlIjoiZXhlY3V0YWJsZSJ9fSwi
		dGFyZ2V0cyI6W3siZGVwZW5kZW5jaWVzIjpbeyJwcm9kdWN0IjpbIkVmZmVj
		dHNMaWJyYXJ5IiwiZWZmZWN0cy1saWJyYXJ5IixudWxsLG51bGxdfSx7InBy
		b2R1Y3QiOlsiRGV2aWNlS2l0IiwiZGV2aWNla2l0IixudWxsLG51bGxdfSx7
		InByb2R1Y3QiOlsiSW5rIiwiaW5rIixudWxsLG51bGxdfV0sImV4Y2x1ZGUi
		OltdLCJuYW1lIjoiQXBwTW9kdWxlIiwicGFja2FnZUFjY2VzcyI6ZmFsc2Us
		InBhdGgiOiIuIiwicmVzb3VyY2VzIjpbeyJwYXRoIjoiUmVzb3VyY2VzIiwi
		cnVsZSI6eyJwcm9jZXNzIjp7fX19XSwic2V0dGluZ3MiOltdLCJ0eXBlIjoi
		ZXhlY3V0YWJsZSJ9XSwidG9vbHNWZXJzaW9uIjp7Il92ZXJzaW9uIjoiNS42
		LjAifX0=
		</data>
		<key>manifestHash</key>
		<data>
		OtSpbqqvK6CTopUGAlNuL/NCUHOxudMf8AXuFCC+m+8=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>5.9.0</string>
	</dict>
</dict>
</plist>
